<% content_for :title do %>About<% end %>
<h3>About E.A.Codefest</h3>
<p>Teaming up Developers with a common goal of connecting,networking and interacting with learners and other developers in order to solve social problems.</p>
